[submodule "clerk_nest_next_template"]
	path = clerk_nest_next_template
	url = https://github.com/vinceflores/clerk_nest_next_template.git
[submodule "repos_to_sanity"]
	path = repos_to_sanity
	url = https://github.com/vinceflores/repos-to-sanity.git
[submodule "repos_to_sanity_docs"]
	path = repos_to_sanity_docs
	url = https://github.com/vinceflores/repo-to-sanity-docs.git
[submodule "vf_nvim_config"]
	path = vf_nvim_config
	url = https://github.com/vinceflores/vf_nvim_config.git
[submodule "clerk_next_uploadthing"]
	path = clerk_next_uploadthing
	url = https://github.com/vinceflores/clerk_next_uploadthing.git
